.left
    .left__side-header
        .left__side-header__box
            .left__side-header__box__user-name
                Username
            .left__side-header__box__menu
                .left__side-header__box__menu__group-create
                    =link_to "https://www.facebook.com/" do
                        = fa_icon 'edit'
                .left__side-header__box__menu__edit
                    =link_to "https://www.facebook.com/" do
                        = fa_icon 'cog'
    .left__side-bottom
        .left__side-bottom__group
            .left__side-bottom__group__title
                グループ名
            .left__side-bottom__group__message
                グループ内のメッセージ
.right
    .right__main-header
        .right__main-header__edit
            =link_to "https://www.facebook.com/" do
                Edit
        .right__main-header__left-box
            .right__main-header__left-box__group-name
                グループ名
            .right__main-header__left-box__group-member
                Member : ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .right__messages
        .right__messages__message
            .right__messages__message__upper-box
                .right__messages__message__upper-box__name
                    yamasaki
                .right__messages__message__upper-box__date
                    2019-09-07
            .right__messages__message__text
                おはよう
    .right__box
        %form(action="/public/images" method="post" enctype="multipart/form-data" class="right__box__form")
            .right__box__form__create-message
                %input(type="text" name="message[content]" placeholder="type a message" class="right__box__form__create-message__text")/
                %label.right__box__form__create-message__label{for: "upload-icon"}
                    %i.fa.fa-picture-o
                %input{:type => "file", :name => "message[image]", :id => "upload-icon", :class => "right__box__form__create-message__image"}
            %input(type="submit" name="commit" value="Send" class="right__box__form__send")/


